#
# beniuv module configuration
#

config BENI_UNDERVOLT
	tristate "Beni undervolt"
	help
	  Say Y here if you want to build an undervolt module for Beni

	  If unsure, say N.

	  To compile this module, choose M here: the
	  module will be called Beniuv.

